In [3]:
import pandas
df = pandas.read_csv("adult.csv")

In [4]:
# filling missing values
col_names = df.columns

In [5]:
col_names

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [7]:
import numpy
for c in col_names:
    df[c] = df[c].replace("?", numpy.NaN)

In [8]:
df = df.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [10]:
#df

In [11]:
#discretisation
df.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['divorced','married','married','married',
              'not married','not married','not married'], inplace = True)

In [12]:
#label Encoder
category_col =['workclass', 'race', 'education','marital-status', 'occupation',
               'relationship', 'gender', 'native-country', 'income']

In [15]:
from sklearn import preprocessing
labelEncoder = preprocessing.LabelEncoder()

In [16]:
# creating a map of all the numerical values of each categorical labels.
mapping_dict={}
for col in category_col:
    df[col] = labelEncoder.fit_transform(df[col])
    le_name_mapping = dict(zip(labelEncoder.classes_, labelEncoder.transform(labelEncoder.classes_)))
    mapping_dict[col]=le_name_mapping

In [18]:
#print(mapping_dict)

In [19]:
#droping redundant columns
df=df.drop(['fnlwgt','educational-num'], axis=1)

In [20]:
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,3,1,2,6,3,2,1,0,0,40,38,0
1,38,3,11,1,4,0,4,1,0,0,50,38,0
2,28,1,7,1,10,0,4,1,0,0,40,38,1
3,44,3,15,1,6,0,2,1,7688,0,40,38,1
4,18,3,15,2,9,3,4,0,0,0,30,38,0

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X = df.values[:, 0:12]
Y = df.values[:,12]

In [23]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [24]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
dt_clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=5, min_samples_leaf=5)
dt_clf_gini.fit(X_train, y_train)
y_pred_gini = dt_clf_gini.predict(X_test)

from sklearn.metrics import accuracy_score
print ("Desicion Tree using Gini Index\nAccuracy is ", accuracy_score(y_test,y_pred_gini)*100 )

#creating and training a model
#serializing our model to a file called model.pkl
import pickle
pickle.dump(dt_clf_gini, open("model.pkl","wb"))

Desicion Tree using Gini Index
Accuracy is  83.26622534634545